:root {
    --header: 30vh;
    --footer: 40vh;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
}

html {
    overflow: hidden;
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
    font-family: "PT Sans";
}

#title {
    font-family: "PT Sans";
    font-weight: 700;
    letter-spacing: 0.15rem;
    font-size: 3rem;
    color: white;
}

p:first-of-type {
    margin-right: 5vw;
    margin-top: 10vh;
}

h1 {
    padding-bottom: 3vh;
}

label {
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 1vh;
    letter-spacing: 0.04rem;
}

input {
    font-size: 1.25rem;
    width: 15vw;
    height: 4vh;
    outline: none;
    border: 4px solid #eeee;
    border-radius: 2px; 
}

input:focus {
    border-color: green;
    box-shadow: 2px 4px green;
}

.column {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 2vw;
}

#right {
    margin-left: 40vw;
}

#right > * {
    padding: 2vw;
}

#left {
    display: flex;
    position: absolute;
}

[src="banner.jpg"] {
    height: 100vh;
    width: 40vw;
}

#tree-logo {
    width: auto;
    height: 15vh;
    margin: 0;
    padding: 0;
}

#logo {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 40vw;
    top: 23%;
    justify-content: center;
    align-items: center;
}

#header {
    height: var(--header);
    background-color: #F9FAFB;
    font-size: 1.85rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
}

#main {
    height: var(--main);
    background-color: #FFFF;
    box-shadow: 10px 10px;
}

#footer {
    background-color: #F9FAFB;
    height: var(--footer);
    margin-bottom: 5vh;
    font-size: 1.5rem;
}

button {
    border-radius: 5px;
    width: 16vw;
    height: 5vh;
    font-size: 1.25rem;
    background-color: green;
    color: white;   
}
