:root {
    --header: 35vh;
    --footer: 35vh;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
}

html {
    overflow: hidden;
}

*{
    margin:0;
    padding:0;
}

label {
    text-transform: uppercase;
}

.column {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 2vw;
}

#right {
    margin-left: 40vw;
}

#right > * {
    padding: 2vw;
}

#left {
    display: flex;
    position: absolute;
}

img {
    padding-top: 0;
    height: 100vh;
    width: 40vw;
}

#header {
    height: var(--header);
    background-color: #c8e1cc;
}

p:first-of-type {
    padding: 15vh 15vw 5vh 0;
}

#main {
    height: var(--main);
    background-color: #b8d8be;
}

#footer {
    background-color: #c8e1cc;
    height: var(--footer);
}